numpy==1.26.4
pandas==2.2.2
psutil==5.9.0
fastapi==0.95.2
uvicorn[standard]==0.22.0
python-multipart==0.0.17
transformers==4.37.2
pydub==0.25.1
openai-whisper==20240930
torch==2.5.1
python-dotenv==1.0.0
gtts==2.5.3
moviepy==1.0.3
Pillow==11.0.0
